<section class="container mt-3">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h6 class="mb-0">Películas Registradas</h6>
      <a href="./create" class="btn btn-success btn-sm">Registrar Nueva Película</a>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <table class="table table-sm table-striped">
            <thead class="table-dark">
              <tr>
                <th>#</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Duración</th>
                <th>Estreno</th>
                <th>Puntuación</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% peliculas.forEach(pelicula=> { %>
                <tr>
                  <td><%= pelicula.id %></td>
                  <td><%= pelicula.titulo %></td>
                  <td><%= pelicula.autor %></td>
                  <td><%= pelicula.duracionmin %></td>
                  <td><%= pelicula.estreno %></td>
                  <td><%= pelicula.puntuacion %></td>
                  <td>
                    <a href="/delete/<%= pelicula.id %>" class="btn btn-danger btn-sm">Eliminar</a>
                    <a href="/edit/<%= pelicula.id %>" class="btn btn-warning btn-sm">Editar</a>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>